.aboutus-page {
  width: 80%;
  margin: 60px auto;
}

:root {
  --font-primary: 'Montserrat', sans-serif;
  --color-primary: #7B282A;   /* Deep maroon/red */
  --color-accent: #E7C51D;    /* Gold accent */
  --color-background: #F7F7F7;/* Light background */
  --color-border: #E6E6E6;    /* Subtle border gray */
}

.aboutus-hero {
  position: relative;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.aboutus-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none; 
}

.aboutus-hero-img { 
  position:absolute; 
  inset:0; 
  width:100%; 
  height:100%; 
  object-fit:cover; 
  opacity:0.55; 
  filter: grayscale(100%); 
  z-index:0; 
}


.aboutus-image-slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
  filter: 
    brightness(1.15)    
    contrast(0.95)        
    opacity(1.0)       
    blur(0.3px);        
  
  border-radius: 12px;
}

.aboutus-image-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;            
  text-align: center;      
  
  background: #fff;         
  color: var(--color-primary);
  font-weight: 600;
  font-size: 0.88rem;
  padding: 4px 0;           
  
  box-sizing: border-box;    
  border-radius: 0;         
}

.aboutus-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
  z-index: 1;
  pointer-events: none;
}

.aboutus-hero-title {
  position: relative;
  z-index: 2;
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(49, 25, 25, 0.516);
}

/* Team Section */
.aboutus-team {
  margin-top: 60px;
  text-align: center;
}

.aboutus-description {
  font-size: 1rem;
  color: #333;
  margin-bottom: 40px;
  line-height: 1.6;
  padding: 0 20px;
}

.aboutus-image-row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.aboutus-image-slot {
  justify-items: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #eee;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  overflow: hidden;    /* IMPORTANT */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.aboutus-image-slot:hover {
  transform: translateY(-8px); 
  box-shadow: 0 8px 20px rgba(0,0,0,0.12); 
}

/* Back Button */
.back-button {
  margin-top: 60px;
  padding: 10px 22px;
  border: none;
  border-radius: 999px;
  background: var(--red);
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.back-button:hover {
  background: #5e1e20;
}
