@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Montserrat', sans-serif;
  --color-primary: #7B282A;   /* Deep maroon/red */
  --color-accent: #E7C51D;    /* Gold accent */
  --color-background: #F7F7F7;/* Light background */
  --color-border: #E6E6E6;    /* Subtle border gray */
}


.modal-overlay {
  font-family: 'Montserrat';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
    width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 15px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}