@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Montserrat', sans-serif;
  --color-primary: #7B282A;   /* Deep maroon/red */
  --color-accent: #E7C51D;    /* Gold accent */
  --color-background: #F7F7F7;/* Light background */
  --color-border: #E6E6E6;    /* Subtle border gray */
}

.cm-modal-overlay {
  position: fixed;
  height: 100%;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999 !important;
}

.modal-cancel.btn{
  background-color: var(--color-primary);
  color: white;
}
.cm-modal-content {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  z-index: 100000 !important;
  text-align: center;
  width: 350px;              /* wider modal */
  max-width: 90%;            /* still responsive */
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}



/* Actions Wrapper */
.cm-modal-actions {
  display: flex;
  justify-content: center; /* spreads buttons evenly */
  gap: 10%;
  margin-top: 15px;
}

.cm-modal-separator {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 12px 0 20px 0;
}


/* Primary Button (OK / Confirm) */
.btn-primary,
.btn-ok {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-ok:hover {
  background-color: #5E1F21;
}

/* Secondary Button (Cancel) */
.btn-secondary {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  padding: 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}
