@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Montserrat', sans-serif;
}


.extend-card {
  flex: 1;
  background: #742B2C;
  color: white;
  border-radius: 12px;
  padding: 35px 40px;
}

.extend-card h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: var(--font-primary);
}

.joined-text {
  margin-top: 4px;
  opacity: 0.8;
}

.ep-edit-btn {
  margin-top: 20px;
  background: #E7C51D;
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font-primary);
}

.booking-count {
  margin-top: 20px;
  font-weight: 600;
  font-family: var(--font-primary);
}

/* EDIT MODE */
.extend-card label {
  display: block;
  margin-top: 25px;
  font-weight: 600;
  font-family: var(--font-primary);
}

.extend-card input,
.extend-card textarea {
  width: 100%;
  margin-top: 8px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-family: var(--font-primary);
}

.ep-edit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 25px;
}

.ep-save-btn {
  background: white;
  color: #742B2C;
  padding: 10px 24px;
  border-radius: 999px;
  font-weight: 600;
  border: none;
  font-family: var(--font-primary);
  cursor: pointer;
}

.ep-save-btn:hover {
  background: #f0f0f0;
}

.ep-cancel-btn {
  background: transparent;
  border: none;
  color: #E7C51D;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font-primary);
  cursor: pointer;
}

.note {
  padding-top: 25px;
  font-family: var(--font-primary);
}